{% extends 'generic.html' %}
{% load staticfiles %}

{% block page_title %}Oil Shop{% endblock %}

{% block page_custom_css %}

    <style type="text/css">

        body {
            width: 100%;
        }

        .logo-block {
            background: url("{% static 'main/main_page_logo_back.jpg' %}");
        {#background: url("http://www.zastavki.com/pictures/1920x1200/2010/Nature_Fields_Path_through_the_field_025473_.jpg");#} background-size: cover;
            height: 100vh;
            position: relative;
        }

        .wrapper {
        }

        .logo {
            position: absolute;
            width: 30%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        path {
            fill: none;
            stroke: white;
            opacity: 10;
            stroke-dasharray: 400;
            animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
        }

        @keyframes animate {
            0% {
                opacity: 0;
                stroke-dashoffset: 400px;
                fill: none;
            }
            30% {
                opacity: 10;
                stroke-dashoffset: 400px;
                fill: none;
            }
            100% {
                opacity: 10;
            {#fill: rgba(255, 255, 255, 1);#} stroke-dashoffset: 0;

            }
        }

        .nav-block-active {
            position: fixed;
        }

        .block-content {
            min-height: 100vh;
        }

        .nav-block {
            width: 100%;
            background: #303952;
            line-height: 50px;
        {#max-height: 10vh;#}
        }

        .about {
            background: #f5cd79;
        }

        .products {
            background: #f19066;
        }

        .recipe {
            background: #e66767;
        }

        .brand_logo {
            width: 70px;
        }

        .navbar-list {
            font-size: 18pt !important;
        }

        .brdr {
            border: 1px red solid;
        }

        .img-sm {
            max-height: 20vh;
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content-about {
            max-height: 30%;
            width: 50%;
            display: flex;
        }

        .about-block {
            border: 1px solid;
            max-height: 30%;
        }

        .img-about {
            max-height: 10vh;
        }

        .card{
            padding: 10px;
        }
    </style>




{% endblock %}

{% block page_body %}
    <div class="logo-block" id="logo-blck">
        <div class="logo">

            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	            viewBox="0 0 71.6 58.7" style="enable-background:new 0 0 71.6 58.7;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: none;
                    stroke: #fff;
                    stroke-width: 0.5pt;
                    stroke-miterlimit: 10;
                }

                .st1 {
                    fill: none;
                    stroke: #ffffff;
                    stroke-width: 0.25pt;
                    stroke-miterlimit: 10;
                }
            </style>
            <g>
                <path class="st0" d="M43.3,16.8c0,3-0.8,6-2.5,9.1c-1.7,3.1-4,5.9-7,8.4c-2.9,2.4-5.9,4.3-9.2,5.8c-3.3,1.4-6.3,2.1-9,2.1
                    c-3.6,0-6.5-1.2-8.7-3.7c-2.2-2.4-3.4-5.6-3.4-9.6c0-3.6,1.1-7.3,3.3-11c2.2-3.7,5.2-6.9,9-9.6c2.7-2,5.7-3.5,9.1-4.7
                    c3.4-1.2,6.4-1.8,9.1-1.8c2.7,0,4.8,0.7,6.5,2C42.2,5,43,6.8,43,9c0,0.9-0.2,2-0.5,3.2C43,13.7,43.3,15.2,43.3,16.8z M42.5,9
                    c0-2-0.7-3.6-2.1-4.8c-1.4-1.2-3.2-1.8-5.5-1.8c-4.5,0-9,1.5-13.6,4.5c-4.4,2.9-8,6.5-10.8,11c-2.9,4.6-4.4,9.2-4.4,13.8
                    c0,2.9,0.9,5.2,2.6,7.1c1.7,1.8,3.9,2.7,6.6,2.7c5.5,0,11-2.8,16.5-8.4c5.5-5.6,8.6-11.5,9.2-17.7c-0.7,1.2-1.9,2.6-3.6,4.1
                    c-1.7,1.6-2.9,2.4-3.5,2.4c-0.2,0-0.2-0.1-0.2-0.2c0-0.1,0.2-0.2,0.5-0.4c3.2-1.8,5.4-4.1,6.9-7c0-2.4-0.7-4.4-2.1-5.8
                    c-1.4-1.4-3.4-2.2-5.8-2.2c-4.5,0-9.2,2.4-14,7.3s-7.2,9.6-7.2,14.2c0,1.8,0.4,3.3,1.3,4.5c0.9,1.1,2,1.7,3.4,1.7
                    c0.7,0,1.3-0.2,2-0.6c0.7-0.4,1-0.8,1-1.1c0-0.1-0.1-0.2-0.1-0.2l-0.3,0.1c-0.2,0.2-0.6,0.4-1.1,0.4c-0.9,0-1.4-0.5-1.4-1.6
                    c0-0.7,0.2-1.2,0.7-1.7c0.4-0.4,1-0.7,1.6-0.7c1.2,0,1.9,0.7,1.9,2.1c0,1-0.4,1.9-1.3,2.7c-0.9,0.8-1.9,1.1-3.1,1.1
                    c-1.7,0-3.1-0.7-4.2-2.1c-1.1-1.4-1.7-3.1-1.7-5.2c0-4.8,2.5-9.5,7.5-14.3c5-4.7,9.9-7.1,14.9-7.1c2.1,0,4,0.5,5.7,1.5
                    c1.7,1,2.8,2.3,3.4,3.9C42.4,10.6,42.5,9.8,42.5,9z"/>
                <path class="st0" d="M51.9,31c0,0.1-0.1,0.2-0.3,0.5l-1.3,1.7c-3.7,5.1-6.5,7.7-8.4,7.7c-0.9,0-1.7-0.3-2.3-1s-0.9-1.5-0.9-2.4
                    c0-1.1,0.7-2.9,2-5.2l4.6-7.8c0.6,0.1,1.1,0.2,1.4,0.2c0.5,0,1.3-0.1,2.2-0.2l-6.6,10.9c-1,1.6-1.4,2.8-1.4,3.7
                    c0,0.9,0.5,1.3,1.4,1.3c1.7,0,4.8-3.1,9.2-9.3c0.1-0.2,0.2-0.3,0.3-0.3C51.9,30.8,51.9,30.9,51.9,31z M51.5,18.9
                    c0,0.7-0.3,1.3-0.9,1.9c-0.6,0.6-1.2,0.9-1.9,0.9c-0.9,0-1.3-0.4-1.3-1.3c0-0.6,0.3-1.3,0.9-1.9c0.6-0.6,1.2-0.9,1.9-0.9
                    C51.1,17.6,51.5,18,51.5,18.9z"/>
                <path class="st0" d="M67.3,10.2c-8.2,13.7-13,21.7-14.3,24.1s-2,4-2,4.8c0,0.9,0.4,1.3,1.1,1.3c1.6,0,4.7-3.1,9-9.3
                    c0.1-0.2,0.2-0.3,0.4-0.3c0.1,0,0.1,0.1,0.1,0.2c0,0.1-0.1,0.3-0.3,0.5L60,33.2c-3.7,5.1-6.4,7.7-8.2,7.7c-0.8,0-1.5-0.3-2.1-1
                    S49,38.5,49,37.5c0-1.1,0.3-2.1,0.7-3.1c0.5-1,2.2-3.9,5.1-8.7c3.5-5.9,6.5-11,8.9-15.3c0.6,0.2,1.1,0.2,1.6,0.2
                    C66,10.6,66.7,10.5,67.3,10.2z"/>
            </g>
            <g>
                <path class="st1" d="M46.8,51.5c0,0.5-0.1,1-0.4,1.4s-0.7,0.7-1.2,1s-1.1,0.4-1.8,0.4c-0.8,0-1.5-0.2-2.1-0.5
                    c-0.4-0.2-0.7-0.5-1-0.9S40,52,40,51.7c0-0.2,0.1-0.4,0.2-0.5s0.3-0.2,0.6-0.2c0.2,0,0.3,0.1,0.5,0.2s0.2,0.3,0.3,0.5
                    c0.1,0.3,0.2,0.5,0.4,0.7s0.3,0.3,0.5,0.5s0.5,0.2,0.9,0.2c0.5,0,0.9-0.1,1.3-0.4s0.5-0.5,0.5-0.9c0-0.3-0.1-0.5-0.3-0.7
                    s-0.4-0.3-0.7-0.4s-0.6-0.2-1.1-0.3c-0.6-0.1-1.1-0.3-1.5-0.5s-0.7-0.5-1-0.8s-0.4-0.7-0.4-1.2c0-0.5,0.1-0.9,0.4-1.3
                    s0.6-0.6,1.1-0.8s1.1-0.3,1.7-0.3c0.5,0,1,0.1,1.4,0.2s0.7,0.3,1,0.5s0.4,0.4,0.6,0.7s0.2,0.5,0.2,0.7c0,0.2-0.1,0.4-0.2,0.6
                    s-0.3,0.2-0.5,0.2c-0.2,0-0.4,0-0.5-0.1s-0.2-0.3-0.3-0.5c-0.2-0.3-0.3-0.6-0.6-0.8s-0.6-0.3-1.1-0.3c-0.4,0-0.8,0.1-1.1,0.3
                    s-0.4,0.4-0.4,0.7c0,0.2,0,0.3,0.1,0.4s0.2,0.2,0.4,0.3s0.3,0.2,0.5,0.2s0.4,0.1,0.8,0.2c0.5,0.1,0.9,0.2,1.3,0.4s0.7,0.3,1,0.5
                    s0.5,0.4,0.6,0.7S46.8,51,46.8,51.5z"/>
                <path class="st1" d="M49.7,46.3v2.4c0.2-0.2,0.4-0.4,0.6-0.6s0.4-0.2,0.6-0.3s0.5-0.1,0.8-0.1c0.4,0,0.8,0.1,1.1,0.3
                    s0.6,0.4,0.7,0.8c0.1,0.2,0.2,0.4,0.2,0.6s0.1,0.5,0.1,0.8v3.1c0,0.3-0.1,0.6-0.2,0.7s-0.3,0.2-0.6,0.2c-0.5,0-0.8-0.3-0.8-1v-2.7
                    c0-0.5-0.1-0.9-0.2-1.2s-0.4-0.4-0.9-0.4c-0.3,0-0.5,0.1-0.8,0.2s-0.4,0.4-0.5,0.7c-0.1,0.2-0.1,0.7-0.1,1.3v2.1
                    c0,0.3-0.1,0.6-0.2,0.7s-0.3,0.2-0.6,0.2c-0.5,0-0.8-0.3-0.8-1v-6.9c0-0.3,0.1-0.6,0.2-0.7s0.3-0.2,0.6-0.2c0.3,0,0.5,0.1,0.6,0.2
                    S49.7,45.9,49.7,46.3z"/>
                <path class="st1" d="M61.4,50.9c0,0.5-0.1,0.9-0.2,1.3s-0.4,0.7-0.6,1s-0.6,0.5-1,0.7s-0.8,0.2-1.3,0.2c-0.5,0-0.9-0.1-1.3-0.2
                    s-0.7-0.4-1-0.7s-0.5-0.6-0.6-1S55,51.4,55,50.9c0-0.5,0.1-0.9,0.2-1.3s0.4-0.7,0.6-1s0.6-0.5,1-0.7s0.8-0.2,1.3-0.2
                    c0.5,0,0.9,0.1,1.3,0.2s0.7,0.4,1,0.7s0.5,0.6,0.6,1S61.4,50.4,61.4,50.9z M59.8,50.9c0-0.7-0.1-1.2-0.4-1.5s-0.7-0.5-1.2-0.5
                    c-0.3,0-0.6,0.1-0.8,0.2s-0.4,0.4-0.6,0.7s-0.2,0.7-0.2,1.1c0,0.4,0.1,0.8,0.2,1.1s0.3,0.6,0.5,0.7s0.5,0.2,0.8,0.2
                    c0.5,0,0.9-0.2,1.2-0.5S59.8,51.6,59.8,50.9z"/>
                <path class="st1" d="M64.1,48.6v0.2c0.3-0.4,0.6-0.6,0.9-0.8s0.7-0.3,1.1-0.3c0.5,0,0.9,0.1,1.4,0.4s0.7,0.6,1,1.1s0.4,1.1,0.4,1.7
                    c0,0.5-0.1,0.9-0.2,1.4s-0.3,0.8-0.6,1s-0.5,0.5-0.9,0.6s-0.7,0.2-1.1,0.2c-0.5,0-0.8-0.1-1.2-0.3s-0.6-0.5-0.9-0.8v2.4
                    c0,0.7-0.3,1.1-0.8,1.1c-0.3,0-0.5-0.1-0.6-0.3s-0.1-0.4-0.1-0.8v-6.9c0-0.3,0.1-0.5,0.2-0.7s0.3-0.2,0.5-0.2
                    c0.2,0,0.4,0.1,0.6,0.2C64.1,48.1,64.1,48.3,64.1,48.6z M67.3,50.9c0-0.4-0.1-0.8-0.2-1.1s-0.3-0.5-0.5-0.7s-0.5-0.2-0.8-0.2
                    c-0.4,0-0.8,0.2-1.1,0.5s-0.5,0.9-0.5,1.5c0,0.6,0.2,1.1,0.5,1.5s0.7,0.5,1.1,0.5c0.3,0,0.5-0.1,0.7-0.2s0.4-0.4,0.5-0.7
                    S67.3,51.3,67.3,50.9z"/>
            </g>
            </svg>
        </div>
    </div>


    <div class="wrapper">
        <div class="nav-block" id="nav-block">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <a href="/" class="navbar-brand navbar-list">
                    <div class="brand_logo">
                        Oil Shop
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar4">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar4">
                    <ul class="navbar-nav navbar-list" style="margin-left: 20px">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//codeply.com">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Создай свой рецепт</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="about block-content center ">

            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'main/004-ecology.svg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Натурально</h5>
                                <p class="card-text">Для приготовления нашего масла мы используем только натуральные продукты от проверенных поставщиков.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-4">
                        <div class="card" >
                            <img class="card-img-top" src="{% static 'main/002-olive-oil.svg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Большой выбор</h5>
                                <p class="card-text">На данный момент мы предлагаем много видов масла из разных ингридиентов. Но Вы так же можете заказать масло по своему собственному рецепту.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-4">
                        <div class="card">
                            <img class="card-img-top mg-1" src="{% static 'main/003-sun.svg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Полезно</h5>
                                <p class="card-text">Натуральное масло способвствует хорошей работе организма, ускоряет обмен веществ и повышает Ваше настроение.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="products block-content">

        </div>
        <div class="recipe block-content">

        </div>

    </div>

{% endblock %}


{% block page_custom_js %}
    <script type="text/javascript">
        $.fn.isInViewport = function () {
            var elementTop = $(this).offset().top;
            var elementBottom = elementTop + $(this).outerHeight();

            var viewportTop = $(window).scrollTop();
            var viewportBottom = viewportTop + $(window).height();

            return elementBottom > viewportTop && elementTop < viewportBottom;
        };

        /*$(window).scroll(function () {

            if ($('#logo-blck').isInViewport()) {
                console.log('visib')
            } else {
                $('#nav-block').toggleClass('nav-block-active');
            }

            fix_nav(!$('#logo-blck').isInViewport())
        });
*/
        function fix_nav(isFix) {
            if (isFix) {
                $('#nav-block').css('position', 'fixed').css('top', '0');
            } else {
                $('#nav-block').css('position', 'static');
            }
        }

    </script>
{% endblock %}